<%- include('../partials/header') %>
<div class="content">
    <a href="/admin/users"> Utilisateurs </a>
    <a href="/admin/languages"> Langages </a>
</div>
<script src="/js/prism.js"></script>
<%- include('../partials/footer') %>